 html,body { margin: 0;} 

  #con{
   background-color: #125698;
   width: 100%;
   height: 100%;

 }
 #navv{
   position: absolute;
   padding-top: 2.5%;
   width:100%;
   max-width: unset;
   text-align: center;
 }
